.footer-container {
    padding: 60px 100px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: -20px;
        top: 0;
        left: 0;
        right: 0;
        background: url("../assets/img/footer-curve.png") no-repeat bottom center;
        background-size: 110%;
    }

    .navbar {
        .nav-item {
            margin-right: 140px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
        }

        .nav-link:hover {
            color: $primary-color;
        }
    }

    .footer-bottom {
        position: relative;
        z-index: 1;

        .footer-socials-container {
            display: flex;
            align-items: baseline;
            margin-top: 200px;

            .footer-socials {
                margin-left: 15px;

                a {
                    font-size: 20px;
                    margin-right: 10px;
                    text-decoration: none;
                    color: $secondary-color;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        p {
            margin-top: 20px;
        }
    }
    @include xl {
        padding: 30px;

        .navbar-nav {
            .nav-item {
                margin-right: 40px;
            }
        }
    };
    @include lg {
        .navbar-nav {
            text-align: center;
        }

        .footer-bottom {
            .footer-socials-container {
                margin-top: 40px;
            }
        }
    };
}
