@import "abstracts/_mixins.scss";

.section-container {
    padding: 120px 160px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include xl {
        padding: 100px 120px;
    }
    @include lg {
        padding: 60px;
    }
    @include md {
        padding: 60px 40px;
    };
}
