$font-stack: 'Open Sans';
$font-condensed: 'Open Sans Condensed';
$primary-color: #ff64c2;
$secondary-color: #7f7f7f;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 48px;

//breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
